
/*menu buttons start*/
.topnav a{
    width: 25em;
    height: 15em;
    color: rgb(218, 115, 212);
    float:right;
    text-align: center;
}

.topnav a.active{
    color:rgb(161, 161, 161) ;
}  
.topnav a.hover{
    cursor: pointer;
}
/*menu buttons end*/