:root{
    /*variables that I use for the entire website*/
    --wargo-secondary-color: rgb(137, 212, 241);
    --wargo-primary-color: rgb(246, 134, 240);
    --uniform-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --wargo-tertiary-color: rgb(194, 184, 184);
    --background_for_pages : rgb(22, 21, 46);

}

.topnav{
    /*formatting for all menu items except for the most left one*/
   /*  width: 10%; */
    height: 25%;
    font-size: x-large;
    font-family: var(--uniform-font);
    background-color: var(--wargo-primary-color);
    text-align: center;
    overflow: hidden;
    margin-top: 7.5%;
    margin-left: 1%;

    
}
.topnav-leftmost{
    /*formatting for the most left menu item*/
    width: 10%;
    height: 25%;
    font-size: x-large;
    font-family: var(--uniform-font);
    background-color: var(--wargo-primary-color);
    text-align: center;
    overflow: hidden;
    margin-top: 7.5%;
    margin-left: 30%;
    
}
.name{
    /* used for the Lora Wargo in the top left corner of each page; hope to replace with a graphic at some point in time*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--wargo-primary-color);
    font-size: 4rem;
}
.website_name_format{
    /* this is the container for the entire top bar (name plus navbar)*/
    display: flex;
}
.synop{ 
    /* used for the synopsis on the index page */
    font-family: var(--uniform-font);
    color: aliceblue;
    font-size: 1.4rem;
}
.topnav:active{
    background-color:var(--wargo-secondary-color) ;
}  
.topnav:hover{
    cursor: pointer;
}
.topnav-leftmost:active{
    background-color:var(--wargo-secondary-color) ;
}  
.topnav-leftmost:hover{
    cursor: pointer;
}
.topnav-current{
    background-color: var(--wargo-secondary-color);
}
/*menu buttons end*/



.gradient-background{
    /*attempt at making a gradient background*/
    background-color: #0e123f;
    background-image: linear-gradient(to bottom, #0e123f, rgb(21, 75, 37));
}


.footer{
    /* used for footer */
    font-family: var(--uniform-font);
    color:rgb(156, 161, 163);
    text-align: center;
    font-size: 1 rem;
    width: 100%;
    left: 0;
    bottom: 0;
    float: left;
    position: absolute;
    /* padding-top: 60rem; */
    z-index: -3; 
   /* top: 1rem; */
    
}
.home-footer-pad{
    padding-top: 50rem;
}
.ed-home-footer-pad{
    padding-top: 35rem;
    top: 45%;
}
.ed-footer-pad{
    padding-top: 27rem;
    top: 45%;
}
.we-footer-pad{
    padding-top: 70rem;
    top: 50%;
}
.lhs-footer-pad{
    padding-top: 47rem;;
}
.synop-pos{
    /* used for the synopsis positioning; make sure to use in conjection with synop*/
    float: left;
    offset-position: left 10%;
    width: 40%;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    
}
.current-projects{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
}
.subtitle{
    /* used for current projects on index*/
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: var(--uniform-font);
    color: var(--wargo-secondary-color);
    font-size: 3rem;
    text-align: center;
    
}
.projects{
    color: var(--wargo-secondary-color);
    width: 70%;
    height: 30%;
    /*
    border-style: solid;
    border-color: var(--wargo-secondary-color);
    border-width: .15 rem;
    */
    border: none;
    fill: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.5rem;
}
.projects:hover{
    cursor: pointer;
}
.popup{
    background-color: var(--wargo-secondary-color);
    width: 80rem;
    position: absolute;
    transform: translate(-50%,-50%) ;
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: “Poppins”,sans-serif;
    text-align: center;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
/*
.popup-content{
    background-color: var(--wargo-secondary-color);
    border: .5rem solid var(--wargo-secondary-color);
    width: 80rem;
    font-weight: bolder;
}
*/
.popup button{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    background: none;
    border: 0;
    outline: black;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.popup img{
    width: 100px;
    
}
.popup h3{
    font-size: 2rem;
}
.popup p{
    font-size: 1rem;
    font-weight: 500;
}
.show{
    visibility: visible;
}
.background-bar{
    font-family: var(--uniform-font);
    color: white;
    font-size: 3rem;
    margin-bottom: 0%;
}
.trinity-bar{
    background: linear-gradient(.25turn, maroon, 80%, white);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
}
.leonard-bar{
    background: linear-gradient(.25turn, rgb(251, 227, 91), 20%, rgb(26, 65, 182));
    float: inline-end;
    width: 70%;

}
.school-dates{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 30%;
    margin-right: 20%;
    font-family: var(--uniform-font);
    color: aliceblue;
    font-size: large;
}
.right-align-synop{
    float: right;
    padding-right: 20%;
}

.left-text{
    text-align: left;
}
.center-text{
    text-align: center;
}
.justify-text{
    text-align: justify;
}
.bottom-text-border{
    /*for adding a little bit of margin-bottom to formatting */
    margin-bottom: 10%;
}
.ed-college-name{
/*used for the formatting of the names of the colleges on the education page */
margin-bottom: 0%;
text-align: center;
font-size: 3rem;
color: #ffffff;
margin-top: -2%;

}

.ed-subtitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 3rem;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
  /*  margin-left: 40%;*/
    background-color: var(--wargo-secondary-color);
    
}
.ed-container{
    position: absolute;
}
.ed-container .btn-LHS{
    position: absolute;
    top: 70%;
    left: 94.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
   /* padding: 12px 24px;*/
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 75%;
    width: 10%;
}
.ed-container .btn-TU{
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
   /* padding: 12px 24px;*/
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 75%;
}
.ed-container .btn-LHS:hover{
    color: white;
    background-color: black;
    transition: top 60s;
}
.ed-container .btn-TU:hover{
    color: white;
    background-color: black;
    transition: top 60s;
}
.we-subtitle{
    font-style: var(--uniform-font);
    color: aliceblue;
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 0%;
    text-align: center;
  /*  margin-left: 40%;*/
    background-color: transparent;

}
.we-descrip{
    margin-left: 30%;
    font-style: var(--uniform-font);    
    color: aliceblue;
    width: 60%;
}
.we-icon{
    width: 4%;
    display: inline-block;
    border-radius: 0;
    margin-right: 0%;
    margin-left: 23%;
    z-index: -1;
}
.we-pin-hellaBubble{
    top: 90%
}
.flip-card {
    background-color: transparent;
   /* width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    float: left;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    /* background-color: #bbb; */
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: var(--wargo-secondary-color);
    color: white;
    transform: rotateY(180deg);
  }
  .trin-background{
    background: linear-gradient(.5turn, var(--background_for_pages), 80%, rgb(55, 53, 90));
    width: 120%;
    height: 38rem;
    margin-left: -10%;
  }
  .trin-csi{
    width: 55%;
    float: right;
  }
  .trin-tower{
    width: 40%;
    margin-top: -30%;
    z-index: -1;
  }