:root{
    --wargo-secondary-color: rgb(137, 212, 241);
    --wargo-primary-color: rgb(246, 134, 240);
}

.topnav a{
    width: 25em;
    height: 15em;
    color: var(--wargo-primary-color);
    float:right;
    text-align: center;
}
.name{
    /* used for the Lora Wargo in the top left corner of each page; hope to replace with a graphic at some point in time*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--wargo-primary-color);
    font-size: 4rem;
}
.synop{ 
    /* used for the synopsis on the index page */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 1rem;
}
.topnav a.active{
    color:rgb(161, 161, 161) ;
}  
.topnav a.hover{
    cursor: pointer;
}
/*menu buttons end*/



.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(156, 161, 163);
    text-align: center;
    font-size: 1 rem;
    width: 100%;
    left: 0;
    bottom: 0;
    /*float: left;*/
    
}
